.video__detail__page {
    background-color: #10162F;
    min-height: 100vh;

}

.video__info {
    background-color: #1c2548;
}

.comment__list {
     background-color: #1c2548;
}
.go__back__button{
    background-color: #1c2548;
}

.video__info__content {
    background-color: #1c2548;
    margin-top: -5px;
    height: 130px;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
}

.followers__list {
    background-color: #10162F;
    border: 1px solid rgba(255, 255, 255, 0.8);
    box-shadow: 0px 5px 10px 2px rgba(229, 234, 238, 0.2);
}

.followers__list:hover {
    transform: scale3d(1.01, 1, 1.4);
    -webkit-transform: scale3d(1.01, 1, 1.4);
    -moz-transform: scale3d(1.01, 1, 1.4);
    -ms-transform: scale3d(1.01, 1, 1.4);
    -o-transform: scale3d(1.01, 1, 1.4);
}

.player-wrapper {
    position: relative;
  }
  
  .react-player {
    position: absolute;
    top: 0;
    left: 0;
  }